<html>
<head>
<style>
.container{
    display:flex;
	flex-direction: row;
}

.menuitem{
    margin:auto;
}
</style>
</head>
<body>
<div class="container">
	<div class="menuitem"><a href="/">Home</a></div>
	<div class="menuitem"><a href="/">Simulator</a></div>
	<div class="menuitem"><a href="/">Theory</a></div>
</div>
Welcome to the theory page!
</body>

<html>